---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Icon } from 'astro-icon';

const menuitems = [
  {
    title: "Start",
    path: "/",
    icon: "/images/navbarIcons/navbarIconHome.png",
  },
  {
    title: "Changelog",
    badge: true,
    path: "/changelog",
    icon: "/images/navbarIcons/navbarIconChangelog.png",
  },
  {
    title: "Der Entwickler",
    path: "/derEntwickler",
    icon: "/images/navbarIcons/navbarIconEntwickler.png",
  },
  {
    title: "Mitwirkende",
    path: "/mitwirkende",
    icon: "/images/navbarIcons/navbarIconMitwirkende.png",
  },
  {
    title: "Kontakt",
    path: "/kontakt",
    icon: "/images/navbarIcons/navbarIconContact.png",
  },
];

---
<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
<Astronav>
  <div class="flex w-full lg:w-auto items-center justify-between">
    <!-- Added Image next to Title -->
    <a href="/" class="flex items-center text-lg">
      <img src="/favicon.png" alt="Bahnfinder Logo" class="mr-2" style="width: 25px; height: 25px;" />
      <span class="font-bold text-slate-800">Bahnfinder</span><span class="text-slate-500">.app</span>
    </a>
    
    <div class="block lg:hidden">
      <MenuIcon class="w-4 h-4 text-gray-800" />
    </div>
  </div>
<MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {menuitems.map((item, index) => (
            <>
              {item.children && (
                <Dropdown
                  title={item.title}
                  children={item.children}
                  lastItem={index === menuitems.length - 1}
                />
              )}
      
              {!item.children && (
                <li>
                  <a
                    href={item.path}
                    class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                    <img src={item.icon} alt={`${item.title} icon`} class="mr-2" style="width: 20px; height: 20px;" />
                    <span>{item.title}</span>
                  </a>
                </li>
              )}
            </>
          ))}
        </ul>
         </MenuItems>
                   </Astronav>
                 </header>
               </Container>